# Baked at build time; part of this image's measurements. Nothing here comes
# from instance metadata.
LISTEN_ADDR=0.0.0.0:{{ kms_listen_port }}
RUST_LOG=info
MERO_KMS_PROFILE={{ lockdown_profile }}
ENFORCE_MEASUREMENT_POLICY=true
MERO_KMS_REQUIRE_SEALED_KEY_RELEASE=true
ALLOWED_TCB_STATUSES={{ kms_node_policy.allowed_tcb_statuses | join(',') }}
ALLOWED_MRTD={{ kms_node_policy.allowed_mrtd | join(',') }}
ALLOWED_RTMR0={{ kms_node_policy.allowed_rtmr0 | join(',') }}
ALLOWED_RTMR1={{ kms_node_policy.allowed_rtmr1 | join(',') }}
ALLOWED_RTMR2={{ kms_node_policy.allowed_rtmr2 | join(',') }}
ALLOWED_RTMR3={{ kms_node_policy.allowed_rtmr3 | join(',') }}
{% if kms_agent_policy_file | length > 0 %}
AGENT_ALLOWED_MRTD={{ kms_agent_policy.allowed_mrtd | join(',') }}
AGENT_ALLOWED_RTMR0={{ kms_agent_policy.allowed_rtmr0 | join(',') }}
AGENT_ALLOWED_RTMR1={{ kms_agent_policy.allowed_rtmr1 | join(',') }}
AGENT_ALLOWED_RTMR2={{ kms_agent_policy.allowed_rtmr2 | join(',') }}
AGENT_ALLOWED_RTMR3={{ kms_agent_policy.allowed_rtmr3 | join(',') }}
{% endif %}
